streamlit
numpy
pandas
matplotlib
plotly
open3d==0.17.0
opencv-python-headless
scikit-learn
scikit-image
scipy
shapely
ifcopenshell
pye57
pyyaml
libgl1-mesa-glx
libsm6
libxrender1
libxext6
libgomp1
